---
title: Vibrate test
---

%h1 Vamos testar seu nível de masculinidade?

%h2 Precione o botão abaixo e vamos ver o que acontece?
%p Se vibrar, talvez você não seja tão macho assim.

%button.vt-btn Vamos lá!

.message